<section id="content">
    <div class="row">
      <div class="col-sm-9 text-center" id="detailContent">
          <div class="contain-img">
            <div class="img-div">
                <img src="images/mark.jpg" class="img-responsive">
            </div>
          </div>
          <div class="detail-content">
            <h2>Mark Zuckerbarg</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque earum,
              possimus, hic quibusdam aliquam sit natus aut fugiat sapiente, odio fuga
              debitis reiciendis, pariatur officiis non consequuntur harum illum! Delectus!
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque earum,
              possimus, hic quibusdam aliquam sit natus aut fugiat sapiente, odio fuga
              debitis reiciendis, pariatur officiis non consequuntur harum illum! Delectus!
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque earum,
              possimus, hic quibusdam aliquam sit natus aut fugiat sapiente, odio fuga
              debitis reiciendis, pariatur officiis non consequuntur harum illum! Delectus!
            </p>
          </div>

      </div>
      <aside class="col-sm-3" id="sideBar">
        <div class="widget">
          <h3>Search</h3>
          <form>
            <div class="form-group">
              <input type="text" name="search" class="form-control" placeholder="Search">
            </div>
            <input type="submit" value="Search" class="btn btn-primary">
          </form>
        </div>
        <div class="widget">
          <h3>Menu</h3>
          <ul class="nav">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
        <div class="widget">
          <h3>Branches</h3>
          <ul class="nav">
            <li><a href="#">Ikeja</a></li>
            <li><a href="#">Festac</a></li>
            <li><a href="#">Surulere</a></li>
            <li><a href="#">Lekki</a></li>
          </ul>
        </div>
      </aside>
      <!-- END OF ASIDE CONTENT -->
    </div>
  </section>
</div>